<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/vuong/css/css1/ionicons.min.css">
<!--    <link rel="stylesheet" href="/css/styles_khoa/css/header.css">-->
    <link rel="stylesheet" href="/vuong/css/css1/style.css">
    <link rel="stylesheet" href="/vuong/css/chat.css">

    <link href="/vuong/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/vuong/css/bootstrap4.css" rel="stylesheet" type="text/css" media="all">
    <script src="/vuong/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/vuong/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/vuong/css/flexslider.css" type="text/css" media="screen"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

    </script>
    <meta name="keywords"
          content="Auction Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>

    <!--    Vinh-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Vinh/css/Header.css">
    <link rel="stylesheet" href="/Vinh/css/Footer.css">

    <style>
        label {
            color: #027ca5;
        }
    </style>
</head>
<body>

<header th:insert="~{HeaderFooter/Header::header-cline}"></header>

<script src="js/responsiveslides.min.js"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
            nav: true,
        });
    });
</script>
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
        <div class="container">
            <form method="get" action="/product/view" th:object="${sanphams}">
                <fieldset>
                    <div class="services-top">
                        <h3 class="btn btn-secondary"> Chi tiết sản phẩm </h3>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"  style="padding: 10px 20px 10px 5px;">Mã Sản Phẩm:</label>
                        <div class="col-sm-7">
                            <span th:utext="*{idProduct}">  </span>
                            <input type="text" th:field="*{idProduct}" class="form-control is-invalid" hidden="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"  style="padding: 10px 20px 10px 5px;">Tên sản phẩm:</label>
                        <div class="col-sm-7">
                            <span th:utext="*{productName}"></span>
                            <input type="text" th:field="*{productName}" class="form-control is-invalid" hidden="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"  style="padding: 10px 20px 10px 5px;">Người đăng:</label>
                        <div class="col-sm-7">
                            <span th:utext="${sanphams.accounts.user.name}"></span>
                            <select class="form-control  is-invalid" th:field="*{accounts}" hidden="hidden">
                                <option th:text="${sanphams.accounts.user.name}"
                                        th:value="${sanphams.accounts.user}" class="form-control is-invalid"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"  style="padding: 10px 20px 10px 5px;">Số Lượng:</label>
                        <div class="col-sm-7">
                            <span th:utext="*{quantity}"></span>
                            <input type="number" th:field="*{quantity}" class="form-control is-invalid" hidden="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label readonly class="col-sm-3 col-form-label"  style="padding: 10px 20px 10px 5px;">Danh Mục:</label>
                        <div class="col-sm-7">
                            <select class="form-control  is-invalid" th:field="*{category}" hidden="hidden">
                                <option th:text="${sanphams.category.categoryName}"
                                        th:value="${sanphams.category.idCategory}"></option>
                            </select>
                            <span th:utext="${sanphams.category.categoryName}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"  style="padding: 10px 20px 10px 5px;">Hình ảnh sản phẩm:</label>
                        <div class="col-sm-7">
                            <img style="height: 250px;width: auto;" th:src="@{${'/Images/' + sanphams.image}}" alt="">
                            <img style="height: 250px;width: auto;" th:src="@{${'/Images/' + sanphams.image1}}" alt="">
                            <br/>
<!--                            <span th:utext="*{image}"></span>-->
                            <input type="text" th:field="*{image}" hidden="hidden">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Giá :</label>
                        <div class="col-sm-7">
                            <span th:utext="*{price}"></span>
                            <input type="number" th:field="*{price}" class="form-control is-invalid" hidden="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Ngày Đăng :</label>
                        <div class="col-sm-6">
                            <span th:utext="*{dateAuction}"></span>
                            <input type="date" th:field="*{dateAuction}" class="form-control is-invalid" hidden="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Thông tin chi tiết:</label>
                        <div class="col-sm-9">
                            <span th:utext="*{description}"></span>
                            <textarea type="textarea" th:field="*{description}" class="form-control is-invalid" rows="6"
                                      hidden="hidden"> </textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tình Trạng:</label>
                        <div class="col-sm-7">
                            <span th:utext="*{status}"></span>
                            <input type="text" th:field="*{status}" class="form-control is-invalid" hidden="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-2">
                            <a th:href="@{/product/list}">Close</a>
                            <br/>
                            <a th:href="@{/product/edit(id = ${sanphams.idProduct})}">Edit</a>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
    <div class="col-sm-2">

    </div>
</div>




<!--<div th:replace="~{/luan/product-detail::chat}">-->

</div>
<!--effec end here-->
<!--project star here-->
<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#nivo-lightbox-demo a').nivoLightbox({effect: 'fade'});
    });
</script>

<!--clients start here-->


<!--<footer style="height: 0" th:insert="~{/header_footer/footer::footer}"></footer>-->

<!-- FlexSlider -->


<script src="/thang/js/countTime.js"></script>
<script src="/js/chat-responses.js"></script>
<script src="/js/chat.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<footer th:insert="~{HeaderFooter/Footer::footer_clinet}"></footer>


</body>
</html>


