<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Vinh/css/Footer.css">
    <title>Footer</title>
</head>
<body>
<div class="footer" th:fragment="footer_clinet">
    <div class="footer__layout">

        <div class="footer__img">
            <img src="/Images/Logo-Neffex.png" />
        </div>

        <ul class="footer__category">
            <h5 class="footer__category-title">Về Neffex</h5>
            <li class="footer__category-item">Thông tin về chúng tôi</li>
            <li class="footer__category-item">Danh sách cửa hàng</li>
            <li class="footer__category-item">Liên hệ</li>
            <li class="footer__category-item">Flash sale</li>
        </ul>

        <ul class="footer__category">
            <h5 class="footer__category-title">Theo dõi chúng tôi tại</h5>
            <li class="footer__category-item">

                Facebook</li>
            <li class="footer__category-item">Instagram</li>
            <li class="footer__category-item">Google</li>
            <li class="footer__category-item">Twitter</li>
        </ul>

        <ul class="footer__category">
            <h5 class="footer__category-title">Thanh toán</h5>
            <img src="/Images/visalogo.svg" alt="">
            <img src="https://cdn.pixabay.com/photo/2018/05/08/21/29/paypal-3384015_960_720.png" alt="">
            <img src="/Images/JCBlogo.svg" alt="">
            <img src="/Images/mastercard.webp" alt="">
        </ul>
    </div>
</div>

</body>
</html>
