<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chu Admin</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/Vinh/css/Header.css">
    <link rel="stylesheet" href="/Vinh/css/Footer.css">

    <link rel="stylesheet" href="/nha/css/Demo.css">

</head>
<body>
<div th:insert="~{/HeaderFooter/Header::header-cline}"></div>
<div class="main main__userbill ">
    <div th:insert="~{/nha/admin/ListProduct::main__left}" ></div>
    <div class="main__right">
        <div class="search__space">
            <form action="/admin/filter" method="post">
                <label>Tên Người Dùng</label>
                <input type="text" name="tenNguoiDung"  class="filter__input"/>
                <label>Địa chỉ</label>
                <input type="text" name="diaChi"  class="filter__input" id="mem-add"/>
                <button class="btn  button__search"  type="submit">Lọc kết quả</button>
<!--            <button id="add-btn" class="filter-btn"><a th:href="@{'/admin/add_member'}">Thêm mới </a><i-->
<!--                    class="fa fa-plus"></i>-->
<!--            </button>-->
            </form>
        </div>
        <table class="table__container">
            <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
            <thead class="table__thead">
            <tr>
                <th>STT</th>
                <th>Tên Người Dùng</th>
                <th>Giới Tính </th>
                <th>Địa Chỉ</th>
                <th>Số Điện Thoại</th>
                <th>Trạng Thái</th>
                <th>Hành Động</th>
            </tr>
            </thead>

            <tbody class="table__tbody" >
            <tr th:each="listUser,iterStat:${nguoidungs}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${listUser.name}"></td>
                <td th:text="${listUser.sex}"></td>
                <td th:text="${listUser.address}"></td>
                <td th:text="${listUser.phoneUser}"></td>
                <td th:text="${listUser.account.status}"></td>
                <td>
                    <a th:href="@{/admin/edit/{id}(id = ${listUser.idUser})}">
                        <button class="button__action background-blue " >
                            <span>Cập nhật</span>
                        </button>
                    </a>
                    <a th:href="@{/admin/{id}/delete(id=${listUser.idUser})}">
                        <button class="button__action background-red">
                <span>
                   &#88;
                </span>
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--        Phan trang-->
        <div class="center">
<!--            <div style="margin-bottom: 15px;"><span th:text="${nguoidungs.number + 1}"></span>/<span-->
<!--                    th:text="${nguoidungs.totalPages}"></span></div>-->
<!--            <div style="display: inline-block;">-->
<!--                <a th:href="@{'/admin/account'(page=${nguoidungs.number - 1})}"-->
<!--                   th:if="${nguoidungs.hasPrevious()}">Trước</a>-->
<!--                <a style="margin-left: 20px;" th:href="@{'/admin/account'(page=${nguoidungs.number + 1})}"-->
<!--                   th:if="${nguoidungs.hasNext()}">Sau</a>-->
<!--            </div>-->

            <span class="pagination">
                <a th:href="@{'/admin/account'(page=${nguoidungs.number - 1})}"
                   th:if="${nguoidungs.hasPrevious()}">
                     <img class="img__arrow" src="/Images/arrrowleft.png" alt=""/>
                </a>
            </span>

            <span class="pagination paging" th:text="${nguoidungs.number + 1}"></span>
            <span  class="pagination"th:text="${nguoidungs.totalPages}"></span>

            <span class="pagination">
                <a style="margin-left: 20px;" th:href="@{'/admin/account'(page=${nguoidungs.number + 1})}"
                   th:if="${nguoidungs.hasNext()}">
                    <img class="img_arrow" src="/Images/arrowright.png" alt=""/>
                </a>
            </span>
        </div>
    </div>
</div>
<!--<div class="container">-->
<!--    <center>-->
<!--        <h1 style="color: #027ca5;font-family: Nunito,sans-serif;margin: 0 0 24px;padding: 11px 0 0;">-->
<!--            Quản Lý Người Dùng-->
<!--        </h1>-->
<!--    </center>-->
<!--    <br><br>-->
<!--    <div class="filter-side">-->

<!--    </div>-->
<!--    <br><br><br>-->
<!--    <table class="table table-hover text-center">-->
<!--        <thead>-->
<!--        <form action="/admin/filter" method="post">-->
<!--            <label>Tên Người Dùng</label>-->
<!--            <input type="text" name="tenNguoiDung"/>-->
<!--            <label>Địa chỉ</label>-->
<!--            <input type="text" name="diaChi" id="mem-add"/>-->
<!--            <button class="filter-btn" type="submit">Lọc kết quả</button>-->
<!--        </form>-->
<!--        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>-->
<!--        <tr style=" color: #027ca5;">-->
<!--            <th>STT</th>-->
<!--            <th>Tên Người Dùng</th>-->
<!--            <th>Giới Tính </th>-->
<!--            <th>Địa Chỉ</th>-->
<!--            <th>Số Điện Thoại</th>-->
<!--            <th>Tên Quyền</th>-->
<!--            <th>Tình trạng Người dùng</th>-->
<!--            <th>Xóa</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="listUser,iterStat:${nguoidungs}">-->
<!--            <td th:text="${iterStat.count}"></td>-->
<!--            <td th:text="${listUser.name}"></td>-->
<!--            <td th:text="${listUser.sex}"></td>-->
<!--            <td th:text="${listUser.address}"></td>-->
<!--            <td th:text="${listUser.phoneUser}"></td>-->
<!--            <td th:text="${listUser.account.roles}"></td>-->
<!--            <td th:text="${listUser.account.status}"></td>-->
<!--            <td>-->
<!--                <a class="btn btn-success" th:href="@{/admin/{id}/delete(id=${listUser.idUser})}">Delete</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <div style="margin-top: 15px;text-align: center;">-->
<!--        <div style="margin-bottom: 15px;"><span th:text="${nguoidungs.number + 1}"></span>/<span-->
<!--                th:text="${nguoidungs.totalPages}"></span></div>-->
<!--        <div style="display: inline-block;">-->
<!--            <a th:href="@{'/admin/account'(page=${nguoidungs.number - 1})}"-->
<!--               th:if="${nguoidungs.hasPrevious()}">Trước</a>-->
<!--            <a style="margin-left: 20px;" th:href="@{'/admin/account'(page=${nguoidungs.number + 1})}"-->
<!--               th:if="${nguoidungs.hasNext()}">Sau</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div  th:insert="~{/HeaderFooter/Footer::footer_clinet}">

    <div class="footer__content">

        <div class="footer__img">
            <img src="/Images/Logo-Neffex.png" />
        </div>

        <ul class="footer__list">
            <h5 class="footer__list-title">Về Neffex</h5>
            <li class="footer__item">Thông tin về chúng tôi</li>
            <li class="footer__item">Danh sách cửa hàng</li>
            <li class="footer__item">Liên hệ</li>
            <li class="footer__item">Flash sale</li>
        </ul>

        <ul class="footer__list">
            <h5 class="footer__list-title">Theo dõi chúng tôi tại</h5>
            <li class="footer__item">
                Facebook
            </li>
            <li class="footer__item">Instagram</li>
            <li class="footer__item">Google</li>
            <li class="footer__item">Twitter</li>
        </ul>

        <ul class="footer__list">
            <h5 class="footer__list-title">Thanh toán</h5>
            <img src="/Images/visalogo.svg" alt="">
            <img src="https://cdn.pixabay.com/photo/2018/05/08/21/29/paypal-3384015_960_720.png" alt="">
            <img src="/Images/JCBlogo.svg" alt="">
            <img src="/Images/mastercard.webp" alt="">
        </ul>
    </div>
</div>
</body>
</html>