<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Quản Lý Danh Mục</title>
<!--    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">-->
<!--    <link rel="stylesheet" href="/nha/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/Vinh/css/Header.css">
    <link rel="stylesheet" href="/Vinh/css/Footer.css">
    <link rel="stylesheet" href="/nha/css/Demo.css">

</head>
<body>
<div th:insert="~{/HeaderFooter/Header::header-cline}"></div>
<div class="main main__userbill">
    <div th:insert="~{/nha/admin/ListProduct::main__left}"></div>
    <div class="main__right">
        <section class="page-container">
            <div>
                <h2>Thêm mới danh mục</h2>
            </div>
            <hr>
            <div class="data-table">
                <form method="post" action="/admin/danhmuc/create" th:object="${danhmucs}">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="text-align: center">Tên Danh Mục *</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{categoryName}" class="form-control is-invalid" id="inputEmail3">
                                <p style="color: red" th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"></p>
                                <p style="color: red;font-size: 13px" th:if="${mgsdm}">Danh mục đã tồn tại.</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="button__create" >
<!--                                <input type="submit" class="form-control "-->
<!--                                       value="Thêm">-->
                                <button type="submit">
                                    Thêm
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>
<div  th:insert="~{/HeaderFooter/Footer::footer_clinet}">

    <div class="footer__content">

        <div class="footer__img">
            <img src="/Images/Walmart_logo.svg" alt="">
        </div>

        <ul class="footer__list">
            <h5 class="footer__list-title">Về Neffex</h5>
            <li class="footer__item">Thông tin về chúng tôi</li>
            <li class="footer__item">Danh sách cửa hàng</li>
            <li class="footer__item">Liên hệ</li>
            <li class="footer__item">Flash sale</li>
        </ul>

        <ul class="footer__list">
            <h5 class="footer__list-title">Theo dõi chúng tôi tại</h5>
            <li class="footer__item">
                Facebook
            </li>
            <li class="footer__item">Instagram</li>
            <li class="footer__item">Google</li>
            <li class="footer__item">Twitter</li>
        </ul>

        <ul class="footer__list">
            <h5 class="footer__list-title">Thanh toán</h5>
            <img src="/Images/visalogo.svg" alt="">
            <img src="https://cdn.pixabay.com/photo/2018/05/08/21/29/paypal-3384015_960_720.png" alt="">
            <img src="/Images/JCBlogo.svg" alt="">
            <img src="/Images/mastercard.webp" alt="">
        </ul>
    </div>
</div>

</body>
</html>