@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

*{
    box-sizing: border-box;

    font-family: 'BenchNine', Arial, sans-serif;
}


body,h1,h2,h3,h4,h5,h6 {
    margin:0px;
    padding:0px;
}

/*.header {*/
/*    position: relative;*/
/*    height: 100px;*/
/*}*/

/*.header__img {*/
/*    position: absolute;*/
/*    top:50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*}*/

/*.header__img img {*/
/*    width: auto;*/
/*    height: 50px;*/
/*    cursor: pointer;*/
/*}*/

.search__form {
    display: flex;
    justify-content: flex-end;
    margin:30px 0px;
}

.filter__input {
    padding:6px 12px;
    margin:0px 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    max-width: 300px;
    width: 300px;
    outline: none;
}

.filter__input:focus {
    border: 1px solid #e7e7e7;
}

.filter__btn {
    padding: 6px 24px;
    border: 1px solid #ffff20;
    border-radius: 4px;
    background: #ffc220;
    outline: none;
    color:white;
    font-weight: 400;
}

.main {
    display: flex;
    /*margin-top: 30px;*/
}

.main__left {
    position: relative;
    /*margin: 92px 0px 0px;*/
    margin:52px 0px 0px;
    padding:0px  26px;
    width: 350px;
    /*height: 100%;*/
}

.main__left::after{
    position: absolute;
    top: 0px;
    right: 0px;
    content: ' ';
    height: 100%;
    width: 1px;
    background: #041E42;
}

.main__left-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 0px;
}

.main__left-title h2{
    color: #041E42;
    font-weight: 550;
}




.accordion__title  > h4{
    display: flex;
    align-items: center;
    padding: 15px 46px 0px;
    color: #041E42;
}

.accordion__title h4{
    font-weight: 550;
    color: #041E42;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
}


.accordion__title span {
    margin-right: 5px;
    border-radius: 9999px;
    border:1px solid #333;
    width: 10px;
    height: 10px;
    background: white;
}

.card-header{
    background: white;
    margin-top: 5px;
}

.card-body  {
    padding:10px 86px 0px;
}

.card-body > p  > a{
    margin:0px 0px 12px 0px;
    color:#ffc220;
    font-weight: 550;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}


/* Main__right */

.main__right {
    padding:0px  56px 40px;
    width: calc(100% - 350px);
}

.table__container {
    width: 100%;
    border: 1px solid #ccc;
}

.table__thead {
    border-bottom: 1px solid #ccc;
}

.table__thead > tr >  th {
    padding: 7px 0px;
    letter-spacing: 0.2rem;
    text-align: center;
    color:#041E42;
    font-size: 18px;
    font-weight: 550;
}

.table__tbody > tr {
    border-bottom: 1px solid #ccc;
}

.table__tbody > tr > td {
    padding: 6px;
    text-align: center;

}

.table__tbody > tr > td > h4 {
    /*color:#041E42;*/
    color:#474747;
    font-weight: 500;
    font-size: 18px;
}

.table__tbody > tr > td img {
    width: auto;
    height: 80px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}





.button__action {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    margin:0px 10px;
    border-radius: 5px;
    width: 73px;
    height: 40px;
    color: #fff;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}



.pagination  > a {
    margin:0px 10px;
    text-decoration: none;
    color:black;
    font-size: 17px;
    font-weight: 550;
}

.pagination img {
    width: auto;
    height: 20px;
    cursor: pointer;
}

/* Helper classes */

.background-red {
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);

}

.background-red span{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 550;
}

.background-red:hover {
    color: #f0094a;
    background: transparent;
    box-shadow:none;
}
.background-red:before,
.background-red:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
            -1px -1px 5px 0px #fff,
            7px 7px 20px 0px #0003,
            4px 4px 5px 0px #0002;
    transition:400ms ease all;
}
.background-red:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.background-red:hover:before,
.background-red:hover:after{
    width:100%;
    transition:800ms ease all;
}



/*  */

.background-blue {


    line-height: 42px;
    padding: 0;
    border: none;
    background-color: rgb(4,30,66);
}
.background-blue span{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 550;
}






.background-blue:hover {
    color: #041E42;
    background: transparent;
    box-shadow:none;
}
.background-blue:before,
.background-blue:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #041E42;
    box-shadow:
            -1px -1px 5px 0px #fff,
            7px 7px 20px 0px #0003,
            4px 4px 5px 0px #0002;
    transition:400ms ease all;
}
.background-blue:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.background-blue:hover:before,
.background-blue:hover:after{
    width:100%;
    transition:800ms ease all;
}

/* */
.form__container {
    display: flex;
    justify-content: center;
}

.alert {
    display: flex;
    justify-content: center;
    background-color: #041E42;
    /*background: #ffc220;*/   /*Màu Vàng*/
}

.card__layout {
    background: #FFF;
}

.user__title {
    /*color: #474747;*/
    color: white;
    font-weight: 550;
    font-size: 18px;
}

.user__name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 550;
}

.bill__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #041E42;
    font-weight: 550;
    font-size: 21px;
}

.button__update {
    background-color: rgb(5 30 66);
    margin: 0px 16px;
    color: white;
}

.button__layout {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header__img {
    display: flex;
    justify-content: center;
}

.header__img img {
    width: auto;
    height: 120px;
    cursor: pointer;
}

.card__body-content {
    padding: 10px 0px;
    color:#ffc220;
    font-weight: 500;

}

.card__body-content:hover {
    text-decoration: none;
    color:#ffc220;
}

.card-body > div {
    padding: 5px 0px;
}


.table__col {
    border: 1px solid #f7f7f7;
    background-color: rgb(5 30 66);
    text-align: center;
    color:white;
}

.table__data {
    border: 1px solid #dee2e6;
    text-align: center;
}

.header__image {
    display: flex;
    justify-content: center;
}

.header__image img {
    width: auto;
    height: 100px;
    cursor: pointer;
}

.pass__title {
    color:white;
}

.main__admin {
    margin-top: 43px
}

/* Css User Bill Page*/
.main__userbill {
    margin-top: 19px;
}

/* Accout Admin*/

.button__create {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.button__create > button {
    padding: 8px 30px;
    outline:none;
    background: #FFCC20;
    color:white;
    border-radius: 5px;
    border: 1px solid #FFCC20;
}


.button__search {
    background: #ffc220;
    outline: none;
    border-color: #ffc220;
    border-radius: 10px;
    color:white;
}

.search__space {
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 15px;
}


.paging {
    position: relative;
    margin:0px 7px;
}

.paging::after {
    position: absolute;
    content: '/';
    top: 0px;

}

/* List Category*/
.create__category {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px;
}

.create__category > button {
    padding: 8px 24px;
    border: 1px solid #FFCC20;
    color: white;
    text-decoration: none;
    background: #FFCC20;
    outline:none;
    border-radius: 7px;
}
.create__category > button >  a {
    text-decoration: none;
    color: white;
}

.create__category > button >a:hover {
    color: white;
}