<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa mật khẩu</title>
    <link rel="icon" type="image/png" href="https://i.imgur.com/RCMBfPu.png">

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--            crossorigin="anonymous"></script>-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/nha/css/Demo.css">
    <link rel="stylesheet" href="/Vinh/css/Footer.css">
    <link rel="stylesheet" href="/Vinh/css/Header.css">
    <link rel="stylesheet" href="../../static/nha/css/category/create.css">
</head>
<body>
<div th:insert="~{/HeaderFooter/Header::header-cline}"></div>

<div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${message}">
    <strong th:text="${message}"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${messages}">
    <strong th:text="${messages}"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${messagess}">
    <strong th:text="${messagess}"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="main">
    <div class="main__left " th:fragment="main__left" style="margin: 50px 0px 0px">
        <div class="main__left-title">
            <h2>Quản lý trang</h2>
        </div>
        <div id="accordion" class="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <div class="accordion__title">
                            <h4 style="text-decoration: none" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                                Quản lý tài khoản
                            </h4>
                        </div>

                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div><a class="card__body-content" th:href="@{/ProfileDetail/__${account1.user.idUser}__}">Tài khoản của tôi</a></div>
                        <div><a class="card__body-content" th:href="@{/listOfInvoices/__${account1.user.idUser}__}">Đơn mua</a></div>
                        <div><a class="card__body-content" th:href="@{/editPass/__${account1.userName}__}">Đổi mật khẩu</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main__right  " style="border-color: #00BFFF;margin: 50px 0px 0px">

        <div class="alert" role="alert" >
            <h1 class="h3 mb-0 text-gray-800 pass__title">Đổi mật khẩu</h1>
        </div>
        <div class="card-body">
            <form id="profileForm" class="css" th:object="${account1}" method="post"
                  th:action="@{/editPass}">
                <input type="hidden" th:field="*{userName}">
                <input type="hidden" th:field="*{description}">
                <input type="hidden" th:field="*{status}">
                <input type="hidden" th:field="*{roles}">
                <div class="form-group row">
                    <label class="col-lg-4 col-sm-4 col-form-label">Mật khẩu hiện tại</label>
                    <div class="col-lg-8 col-sm-8">
                        <input id="psw" name="psw" type="password" class="form-control"
                               required="true"></div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-sm-4 col-form-label">Mật khẩu mới</label>
                    <div class="col-lg-8 col-sm-8">
                        <input id="psw-new" name="psw-new" type="password" class="form-control"
                               required="true" value="" th:field="*{passWord}"></div>
                </div>


                <div class="form-group row">
                    <label class="col-lg-4 col-sm-4 col-form-label">Xác nhận mật khẩu</label>
                    <div class="col-lg-8 col-sm-8">
                        <input id="psw-repeat" name="psw-repeat" type="password" class="form-control"
                               required="true" value="" th:field="*{rePassWord}"></div>
                </div>

                <div class="button__layout" >
                    <button class="btn button__update "   type="submit">Cập Nhật</button>
                    <a th:href="@{/ProfileDetail/__${account1.user.idUser}__}" class="btn btn-warning "
                       style="color: white">
                        Quay lại trang chủ
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:insert="~{/HeaderFooter/Footer::footer_clinet}"></div>
</body>
</html>