<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="https://i.imgur.com/RCMBfPu.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/nha/css/index.css">
    <title>Reset Password</title>
</head>
<body>
<div class="login">

    <div class="login__content">
        <div class="login__img">
            <img src="/Images/Logo-Neffex.png" />
        </div>
        <h5 class="login__form-title">Reset Password</h5>

        <div th:if="${messageError != null}">
            <p class="text-danger text-center">[[${messageError}]]</p>
        </div>
        <div th:if="${message != null}">
            <p class="text-success text-center">[[${message}]]</p>
        </div>
        <div class="login__form">
            <form th:action="@{/reset_password}" method="post">
                <input type="hidden" name="token" th:value="${token}">
                <p style="color: white" class="text-center">Enter your new password</p>
                <div class="login__field">
                    <input class="login__field-input" type="password"  placeholder=" "  name="password" id="password" required autofocus>
                    <label class="login__field-label" >New Password</label>
                </div>
                <div class="login__field">
                    <input class="login__field-input" type="password"  placeholder=" "  name="confirmPass" id="confirmPass" required autofocus oninput="checkPass(this)">
                    <label class="login__field-label" >Repeat New Password</label>
                </div>

                <div class="login__btn">
                    <button class="button__signin " type="submit">Save</button>
                </div>
            </form>
            <div class="login__btn">
                <button class="button__account"><a href="/login">Login</a></button>
            </div>
        </div>

    </div>

</div>

</body>
</html>